<h1> Require Attention</h1>

@if(ViewBag.Message != null) {
<div id="tog" class="f-attention">@ViewBag.Message <br/>
	<a class="btn mybtn-sm-red tog inline m5-0-5-0" data-id="tog">OK</a>
</div>
} 

<!-- buttons -->
<div class="text-center">
	<a asp-action="Attention" asp-controller="Owner" class="btn mybtn bgBase">Refresh</a>
	<div class="dropdown inline">
		<button class="btn mybtn bgBro dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
		    aria-expanded="false">
				Actions <span style="font-size: 0.7em;">&nbsp &#x25BC;</span>
			</button>
		<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
			<li><a asp-action="Add" asp-controller="Issue">ADD ISSUE</a></li>
		</ul>
	</div>
</div>
<!-- end of buttons -->

<!-- VISITOR"S Requests -->
<div class="row text-center m20-0-20-0 tog" data-id="requests">
    <h2> Visitor's Requests / Complaints</h2>
</div>

@if(ViewBag.Requests != null && ViewBag.Requests.Count != 0)
{
<table class="table table-hover eye" id="requests">
	<thead>
		<tr style="border-bottom: 2px solid gray;">
			<th>ID</th>
			<th>Time</th>
			<th>Date</th>
			<th style="width: 40%;">Description</th>
			<th>Admin</th>
			<th>Important</th>
			<th>Seen</th>
			<th>Solved</th>
			<th style="width: auto; text-align: right;">Actions</th>
		</tr>
	</thead>
	<tbody>

	@foreach(var r in ViewBag.Requests)
	{	
	<tr>
		<td>@r.ID</td>
		<td>@r.Time</td>
		<td>@r.Date</td>
		<td style="width: 40%;">@r.Description</td>
		<td>@r.AdminName</td>
		<td class="text-center">
			<div class="bulp @(r.Important ? "bgRed" : "bgBase")"></div>
		</td>
		<td>
			<div class="bulp @(r.SeenByAdmin ? "bgBase" : "bgRed")"></div>
		</td>
		<td>
			<div class="bulp @(r.Solved ? "bgBase" : "bgRed")"></div>
		</td>
		<td style="width: auto; text-align: right;">
			<div class="dropdown">
				<button class="btn mybtn-sm-actions bgBro" type="button" data-toggle="dropdown">Actions
				<span class="caret"></span></button>
				<ul class="dropdown-menu dropdown-menu-right">
					<li><a asp-action="Edit" asp-controller="Request" asp-route-ID="@r.ID">Edit</a></li>
					<li><a asp-action="Status" asp-controller="Request" asp-route-ID="@r.ID" asp-route-Name="SOLVED">Change Solved </a></li>
					<li><a asp-action="Status" asp-controller="Request" asp-route-ID="@r.ID" asp-route-Name="IMPORTANT">Change Importance</a></li>
					<li><a asp-action="Status" asp-controller="Request" asp-route-ID="@r.ID" asp-route-Name="SEEN">Change Seen</a></li>
					<li><a asp-action="Delete" asp-controller="Request" asp-route-ID="@r.ID">Delete</a></li>
				</ul>
			</div>		
		</td>
	</tr>
	}
	</tbody>
</table>
}
else
{
<div class="text-center">
	No requests have been created yet.
</div>
}


<!-- VISITOR'S NOTES -->
<div class="row text-center m20-0-20-0 tog" data-id="notes">
    <h2> Visitor's Notes</h2>
</div>

@if(ViewBag.Notes != null && ViewBag.Notes.Count != 0)
{
<table class="table table-hover eye" id="notes">
	<thead>
		<tr style="border-bottom: 2px solid gray;">
			<th>ID</th>
			<th>Time</th>
			<th>Date</th>
			<th style="width: 40%;">Description</th>
			<th>Admin</th>
			<th>Important</th>
			<th>Seen</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>

	@foreach(var n in ViewBag.Notes)
	{	
		<tr>
			<td>@n.ID</td>
			<td>@n.Time</td>
			<td>@n.Date</td>
			<td style="width: 40%;">@n.Description</td>
			<td>@n.AdminName</td>
			<td class="text-center">
				<div class="bulp @(n.Important ? "bgRed" : "bgBase")"></div>
			</td>
			<td>
				<div class="bulp @(n.SeenByAdmin ? "bgBase" : "bgRed")"></div>
			</td>
			<td style="width: auto; text-align: right;">	
				<div class="dropdown">
					<button class="btn mybtn-sm-actions bgBro" type="button" data-toggle="dropdown">Actions
					<span class="caret"></span></button>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a asp-action="Edit" asp-controller="Note" asp-route-ID="@n.ID">Edit</a></li>
						<li><a asp-action="Status" asp-controller="Note" asp-route-ID="@n.ID" asp-route-Name="IMPORTANT">Change Importance</a></li>
						<li><a asp-action="Status" asp-controller="Note" asp-route-ID="@n.ID" asp-route-Name="SEEN">Change Seen</a></li>
						<li><a asp-action="Delete" asp-controller="Note" asp-route-ID="@n.ID">Delete</a></li>
					</ul>
				</div>		
			</td>
		</tr>
	}
	</tbody>
</table>
}
else
{
<div class="text-center">
	No notes have been created yet.
</div>
}


<!-- ALL ISSUES -->
<div class="row text-center m20-0-20-0 tog" data-id="issues">
	<h2> ALL ISSUES </h2>
</div>

@if(ViewBag.Issues != null && ViewBag.Issues.Count != 0) {
<table class="table table-hover eye" id="issues">
	<thead>
		<tr style="border-bottom: 2px solid gray;">
			<th>ID</th>
			<th>Time</th>
			<th>Date</th>
			<th>Type</th>
			<th style="width: 40%;">Description</th>
			<th>Due Date</th>
			<th>Admin</th>
			<th>Assigned</th>
			<th>Solved</th>
			<th style="width: auto; text-align: right;">Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var i in ViewBag.Issues) {
		<tr>
			<td>@i.ID</td>
			<td>@i.Time</td>
			<td>@i.Date</td>
			<td>@i.Type</td>
			<td style="width: 40%;">@i.Description</td>
			<td>@i.ExpectedToBeSolved</td>
			<td>@i.AdminName</td>
			<td class="text-center">
				<div class="bulp @(i.Assigned ? " bgBase " : "bgRed ")"></div>
			</td>
			<td class="text-center">
				<div class="bulp @(i.Solved ? " bgBase " : "bgRed ")"></div>
			</td>
			<td style="width: auto; text-align: right;">	
				<div class="dropdown">
					<button class="btn mybtn-sm-actions bgBro" type="button" data-toggle="dropdown">Actions
					<span class="caret"></span></button>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a asp-action="Edit" asp-controller="Issue" asp-route-ID="@i.ID">Edit</a></li>
						<li><a asp-action="Status" asp-controller="Issue" asp-route-ID="@i.ID" asp-route-Name="Solved">Change Solved</a></li>
						<li><a asp-action="Status" asp-controller="Issue" asp-route-ID="@i.ID" asp-route-Name="Assigned">Change Assigned</a></li>
						<li><a asp-action="Delete" asp-controller="Issue" asp-route-ID="@i.ID">Delete</a></li>
					</ul>
				</div>		
			</td>
		</tr>
		}
	</tbody>
</table>
} 
else 
{
<div class="text-center">
	No issues have been created yet.
</div>
}