@model Event

<h1> DASHBOARD</h1>
<h3> @Model.Name </h3>

<div class="text-center">
	<a asp-action="Dashboard" class="btn mybtn bgBase">Refresh</a>
	<a asp-action="ViewEvent" asp-route-ID="@Model.ID" class="btn mybtn bgBro">Edit</a>
</div>

@if(ViewBag.Message != null)
{
	<div id="tog" class="f-attention">@ViewBag.Message <br/>
        <a class="btn mybtn-sm-red tog inline m5-0-5-0" data-id="tog">OK</a>
    </div>
}
@if (ViewBag.Active)
{
	<div class="row mar5">
		
		<div class="col-sm-4 nopad">
			<div class="dash-head">
				EVENT
			</div>
			<div class="dash-section">
				<span class="dash-name">Name: </span>
				@Model.Name 
				<br />
				<span class="dash-name">ID: </span>
				@Model.ID 
				<br />
				<span class="dash-name">Time frame: </span>
				@Model.TimeStart, @Model.DateStart / @Model.TimeEnd, @Model.DateEnd
				<br />
				<span class="dash-name">Dates: </span>
				@Model.TimeStart, @Model.DateStart / @Model.TimeEnd, @Model.DateEnd
				<span class="dash-name">Eventbrite ID: </span>
				@Model.EventbriteID
				<br />
				<span class="dash-name">Ticket Sales: </span>
				@Model.TicketLink
				<br />
				<span class="dash-name">Description: </span>
				@Model.Description
			</div>
		</div>

		<!-- TICKETS -->
		<div class="col-sm-4 nopad">
			<div class="dash-head">
				TICKETS
			</div>
			<div class="dash-section">
				<span class="dash-name">Types: </span> <br />
				@foreach (Ticket t in @Model.Tickets)
				{
					<div> @t.Type - @t.Limit for $@t.Price </div>
				}
				<br />
				<span class="dash-name">Attendance (CheckIn/Register/Sold): </span> <br />
				@foreach (Ticket t in @Model.Tickets)
				{
					<div> @t.Type - @t.CheckIned / @t.Registered / @t.Sold </div>
				}

			</div>
		</div>

		<!-- VISITORS -->
		<div class="col-sm-4 nopad">
			<div class="dash-head">
				VISITORS
			</div>
			<div class="dash-section">
				<span class="dash-name">Types: </span> <br />
				@foreach (VType v in @Model.Types)
				{
					<div> @v.Name - @(v.Free ? "Free" : "Paid") </div>
				}
				<br />
				<span class="dash-name">Checked In: </span> @ViewBag.CheckIned out of @ViewBag.Registered <br />
				
				<div class="chart-base"> 
					<div class="chart" style="width:@(ViewBag.Registered != 0 ? ViewBag.CheckIned * 100 / ViewBag.Registered: 0)%;"> @(ViewBag.Registered != 0 ? ViewBag.CheckIned * 100 / ViewBag.Registered: 0)% </div>
				</div>

				<span class="dash-name">Registered: </span> @ViewBag.Registered out of @Model.TicketsSold <br />
				
				<div class="chart-base"> 
					<div class="chart" style="width:@(Model.TicketsSold != 0 ? ViewBag.Registered * 100 / Model.TicketsSold : 0)%;"> 
					@(Model.TicketsSold != 0 ? ViewBag.Registered * 100 / Model.TicketsSold : 0)% </div>
				</div>

				<span class="dash-name">Tickets Sold: </span> @Model.TicketsSold out of @ViewBag.AllTickets <br />
				<div class="chart-base"> 
					<div class="chart" style="width:@(ViewBag.AllTickets != 0 ? Model.TicketsSold * 100 / ViewBag.AllTickets : 0)%;"> 
					@(ViewBag.AllTickets != 0 ? Model.TicketsSold * 100 / ViewBag.AllTickets : 0)% </div>
				</div>

			</div>
		</div>
	</div>

	<div class="row mar5">
		<div class="col-sm-4 nopad">
			<div class="dash-head">
				PRODUCTS / EVENTS
			</div>
			<div class="dash-section">
				<span class="dash-name">Events: </span> <br />
				@foreach (Product p in @Model.Products)
				{
					<div> @p.Name - @(p.Free ? "Free" : "Paid") - @p.DateStart, @p.TimeStart/@p.TimeEnd - @(p.Status ? "<span class='Base'>Active</span>" : "Inactive") </div>
				}
				<br />
			</div>
		</div>

		<div class="col-sm-4 nopad">
			<div class="dash-head">
				SALES
			</div>
			<div class="dash-section">
				<span class="dash-name">Revenue Planned: </span>
				$@(String.Format("{0:0,0.00}", Model.RevPlan))
				<br />
				<span class="dash-name">Revenue Fact: </span>
				$@(String.Format("{0:0,0.00}", Model.RevFact))
				<br />
				<span class="dash-name">Fact / Plan: </span>
				<div class="chart-base"> 
					<div class="chart" style="width:@(ViewBag.AllTickets != 0 ? Model.TicketsSold * 100 / ViewBag.AllTickets : 0)%;"> 
					@(Model.RevPlan != 0 ? Model.RevFact * 100 / Model.RevPlan : 0)% </div>
				</div>

				<span class="dash-name">Tickets Sold: </span>
				@Model.TicketsSold
				<br />


			</div>
		</div>

		<div class="col-sm-4 nopad">
			<div class="dash-head">
				VISITORS REQUESTS
			</div>
			<div class="dash-section">
				<span class="dash-name">Total Requests: </span>
				0 
			</div>
		</div>
	</div>
}
else
{
	<div class="row pad10 text-center">
		<div class="f-attention">You have no ACTIVE event yet!
		</div>
		<br />
		<a asp-action="Index" asp-controller="Owner" class="btn mybtn bgBase">OK</a>
	</div>
}