<h1>All Events</h1> 
@{
	var future = ViewBag.Future;
	var archived = ViewBag.Archived;
}
@if(ViewBag.Message != null)
{
	<div id="tog" class="f-attention">@ViewBag.Message <br/>
        <a class="btn mybtn-sm-red tog inline m5-0-5-0" data-id="tog">OK</a>
    </div>
}
@if(ViewBag.Message2 != null)
{
	<div id="tog" class="f-success">@ViewBag.Message2 <br/>
        <a class="btn mybtn-sm-base tog inline m5-0-5-0" data-id="tog">OK</a>
    </div>
}

<div class="text-center">
	<a asp-action="CreateEvent" class="btn mybtn bgBase">ADD</a>
	<a asp-action="Index" class="btn mybtn bgBro">BACK</a>
</div>
<br />

@if (ViewBag.Active == null && future.Count == 0 && archived.Count == 0)
{
	<div class="f-info">You don't have any Events yet.</div>
}
else
{
	
	@if (ViewBag.Active != null)
	{
		<div class="events-number-container" style="border-bottom: 1px solid var(--colBase);">
            <span class="events-number bgBase">ACTIVE</span>
        </div>
		<a asp-action="ViewEvent" asp-route-id="@ViewBag.Active.ID" class="btn btn-events bgBase">
            @ViewBag.Active.Name : @ViewBag.Active.DateStart / @ViewBag.Active.DateEnd
        </a><br />
	}

	@if (future.Count != 0)
	{
		<br />
		<div class="events-number-container">
            <span class="events-number bgBro">FUTURE</span>
        </div>
		@foreach (Event e in future)
		{
			<a asp-action="ViewEvent" asp-route-id="@e.ID" class="btn btn-events bgBro">
				@e.Name : @e.DateStart / @e.DateEnd
			</a><br />
		}
	}

	@if (archived.Count != 0)
	{
		<br />
		<div class="events-number-container">
            <span class="events-number bgGray">ARCHIVED</span>
        </div>
		@foreach (Event e in archived)
		{
			<a asp-action="ViewEvent" asp-route-id="@e.ID" class="btn btn-events bgGray">
				@e.Name : @e.DateStart / @e.DateEnd
			</a><br />
		}
	}
}
