@model Event

<h2> @Model.Name </h2>
<br />

<div class="row">
    <div class="col-md-6">
        <div class="stat-name" style="background-color: @(Model.Status ? "var(--colBase)" : "")">Status: <span class="stat">@(Model.Status ? "ACTIVE" : "INACTIVE")</span></div>
    </div>

    <div class="col-md-6">
        <div class="stat-name">Event ID: <span class="stat">@Model.ID</span></div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="stat-name">Starts: <span class="stat">@Model.TimeStart on @Model.DateStart </span></div>
    </div>

    <div class="col-md-6">
        <div class="stat-name">Ends: <span class="stat">@Model.TimeEnd on @Model.DateEnd </span></div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="stat-name">Tickets Sold/Orders #: <span class="stat">@Model.TicketsSold / @Model.Orders.Count() </span></div>
    </div>

    <div class="col-md-6">
        <div class="stat-name">Free tickets: <span class="stat">@(Model.Free == true ? "Yes" : "No") </span></div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="stat-name">Visitors Registered / CheckIned: <span class="stat">@Model.Visitors.Count() / @Model.Visitors.Where(v => v.CheckIned == true).Count() </span></div>
    </div>

    <div class="col-md-6">
        <div class="stat-name">Revenue Fact / Plan: <span class="stat">$@Model.RevFact / $@Model.RevPlan </span></div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="stat-name">Eventbrite's Token: <span class="stat">@Model.HttpBase </span></div>
    </div>

    <div class="col-md-6">
        <div class="stat-name">Eventbrite's Event ID: <span class="stat">@Model.EventbriteID </span></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="stat-name">Event's Page: <span class="stat">@Model.TicketLink </span> </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="stat-name">Description: <span class="stat">@Model.Description </span> </div>
    </div>
</div>

<ul>
    <li>
        Ticket Types:
        @if (@Model.Tickets.Count() < 1)
        {
            <span>Not created yet</span>
        }
        else 
        {  
            <ul>
            @foreach(Ticket t in Model.Tickets)
            {
                <li>Type: @t.Type, Price: @t.Price</li>
            }  
            </ul> 
        }
    </li>
    <li>
        Events/Products:
        @if (@Model.Products.Count() < 1)
        {
            <span>Not created yet</span>
        }
        else 
        {  
            <ul>
            @foreach(Product p in Model.Products)
            {
                <li> @p.Name: @p.Capacity </li>
            }  
            </ul> 
        }
    </li>
    <li>
        Visitors Types:
        @if (@Model.Types.Count() < 1)
        {
            <span>Not created yet</span>
        }
        else 
        {  
            <ul>
            @foreach(VType t in Model.Types)
            {
                <li> @t.Name: @(t.Free == true ? "Free" : "Paid") </li>
            }  
            </ul> 
        }
    </li>

</ul>

<a asp-action="Events" asp-controller="Owner" class="btn mybtn bgBase">BACK</a>

<a asp-action="EditEvent" asp-controller="Owner" asp-route-id="@Model.ID" class="btn mybtn bgBro">EDIT</a>

<a asp-action="DeleteEvent" asp-controller="Owner" asp-route-id="@Model.ID" class="btn mybtn bgRed">DELETE</a>

<br /><br />

<a asp-action="Index" asp-controller="Ticket" asp-route-id="@Model.ID" class="btn mybtn bgBro">MANAGE TICKETS</a>

<a asp-action="Index" asp-controller="Product" asp-route-id="@Model.ID" class="btn mybtn bgBro">MANAGE PRODUCTS</a>

<a asp-action="Index" asp-controller="VType" asp-route-id="@Model.ID" class="btn mybtn bgBro">MANAGE Visitor Types</a>
