@model Event

<h2> @Model.Name </h2>

<h5>Status: 
    @if (Model.Status)
    {
        <span style="color: var(--colBase);">ACTIVE</span>
    }
    else
    {
        <span style="color: var(--colRed);">INACTIVE</span>
    }
</h5>

<ul>
    <li>ID: @Model.ID </li>
    <li>Starts On: @Model.DateStart </li>
    <li>Starts At: @Model.TimeStart </li>
    <li>Ends On: @Model.DateEnd </li>
    <li>Ends At: @Model.TimeEnd </li>
    <li>Free tickets: @(Model.Free == true ? "Yes" : "No")</li>
    <li>Tickets Sold: @Model.TicketsSold </li>
    <li>Revenue Plan: @Model.RevPlan </li>
    <li>Revenue Fact: @Model.RevFact </li>
    <li>Orders #: @Model.Orders.Count() </li>
    <li>Eventbrite's Token: @Model.HttpBase </li>
    <li>Event's Page: @Model.TicketLink </li>
    <li>Description: @Model.Description </li>
    <li>Visitors, Registered: @Model.Visitors.Count() </li>
    <li>Visitors, Checked In: @Model.Visitors.Where(v => v.CheckIned == true).Count() </li>
    <li>
        Ticket Types:
        @if (@Model.Tickets.Count() < 1)
        {
            <span>Not created yet</span>
        }
        else 
        {  
            <ul>
            @foreach(Ticket t in Model.Tickets)
            {
                <li>Type: @t.Type, Price: @t.Price</li>
            }  
            </ul> 
        }
    </li>
    <li>
        Events/Products:
        @if (@Model.Products.Count() < 1)
        {
            <span>Not created yet</span>
        }
        else 
        {  
            <ul>
            @foreach(Product p in Model.Products)
            {
                <li> @p.Name: @p.Capacity </li>
            }  
            </ul> 
        }
    </li>
    <li>
        Visitors Types:
        @if (@Model.Types.Count() < 1)
        {
            <span>Not created yet</span>
        }
        else 
        {  
            <ul>
            @foreach(VType t in Model.Types)
            {
                <li> @t.Name: @(t.Free == true ? "Free" : "Paid") </li>
            }  
            </ul> 
        }
    </li>

</ul>

<a asp-action="Events" asp-controller="Owner" class="btn mybtn bgBase">BACK</a>

<a asp-action="EditEvent" asp-controller="Owner" asp-route-id="@Model.ID" class="btn mybtn bgBro">EDIT</a>

<a asp-action="DeleteEvent" asp-controller="Owner" asp-route-id="@Model.ID" class="btn mybtn bgRed">DELETE</a>

<br /><br />

<a asp-action="Index" asp-controller="Ticket" asp-route-id="@Model.ID" class="btn mybtn bgBro">MANAGE TICKETS</a>

<a asp-action="Index" asp-controller="Product" asp-route-id="@Model.ID" class="btn mybtn bgBro">MANAGE PRODUCTS</a>

<a asp-action="Index" asp-controller="VType" asp-route-id="@Model.ID" class="btn mybtn bgBro">MANAGE Visitor Types</a>
