@model Event

<h1> Admin's DASHBOARD </h1>

@if (ViewBag.Active)
{
	<div class="text-center">
		<a class="btn mybtn bgBase tog" data-id="search">Search Visitor</a>
		<div class="dropdown inline">
	
			<button class="btn mybtn bgBro dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				ACTIONS <span style="font-size: 0.9em;">&nbsp &#x25BC;</span>
			</button>

			<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
				@if(await AuthorizationService.AuthorizeAsync(User, "Visitor Editor"))
				{
					<li><a asp-action="AddOrder" asp-controller="Admin" asp-route-ID="@Model.ID">ADD ORDER</a></li>
					<li><a asp-action="AddIssue" asp-controller="Admin" asp-route-ID="@Model.ID">ADD ISSUE</a></li>
					<li role="separator" class="divider"></li>
					<li><a asp-action="Search" asp-controller="Admin" asp-route-ID="All" asp-route-Name="All">All Visitors</a></li>
					<li><a asp-action="Index" asp-controller="Product" asp-route-ID="@Model.ID">All Products</a></li>
					<li><a asp-action="Index" asp-controller="Ticket" asp-route-ID="@Model.ID">All Tickets</a></li>
					<li><a asp-action="Index" asp-controller="VType" asp-route-ID="@Model.ID">All Guest Types</a></li>
					<li role="separator" class="divider"></li>
					<li><a asp-action="Dashboard" asp-controller="Admin">Refresh</a></li>
				}
			</ul>
		</div>
	</div>

	<div id="search" class="eye pad20 mar20 border">
		<!-- BY ID -->
		<p class="text-center">Search by ID, First Name, Last Name, Order #, Reg. #, Company, Occupation</p>
		<div class="text-center m5-0"> 
			<input class="input-admin copy" data-id="ID"/>
			<a asp-action="Search" asp-route-ID="" class="btn mybtn bgAccent" id="ID" style="vertical-align: top;">SEARCH</a>
		</div>
	</div>

	@if(ViewBag.Message != null)
	{
		<div id="tog" class="f-attention">@ViewBag.Message <br/>
			<a class="btn mybtn-sm-red tog inline m5-0-5-0" data-id="tog">OK</a>
		</div>
	}
	
	<div class="row mar5">
		
		<div class="col-sm-4 nopad">
			<div class="dash-head tog" data-id="event">
				EVENT
			</div>
			<div class="dash-section" id="event">
				<span class="dash-name">Name: </span>
				@Model.Name 
				<br />
			
				<span class="dash-name">Time frame: </span>
				@Model.TimeStart, @Model.DateStart / @Model.TimeEnd, @Model.DateEnd
				<br />
				
				<span class="dash-name">Ticket Sales: </span>
				@Model.TicketLink
				<br />

				<span class="dash-name">Description: </span>
				@Model.Description
			</div>

		</div>
		<div class="col-sm-4 nopad">
			<div class="dash-head tog" data-id="visitor">
				VISITORS
			</div>
			<div class="dash-section" id="visitor">
				<span class="dash-name">Checked In: </span> @ViewBag.CheckIned out of @ViewBag.Registered <br />
				
				<div class="chart-base"> 
					<div class="chart" style="width:@(ViewBag.Registered != 0 ? ViewBag.CheckIned * 100 / ViewBag.Registered: 0)%;"> @(ViewBag.Registered != 0 ? ViewBag.CheckIned * 100 / ViewBag.Registered: 0)% </div>
				</div>

				<span class="dash-name">Registered: </span> @ViewBag.Registered out of @Model.TicketsSold <br />
				
				<div class="chart-base"> 
					<div class="chart" style="width:@(Model.TicketsSold != 0 ? ViewBag.Registered * 100 / Model.TicketsSold : 0)%;"> 
					@(Model.TicketsSold != 0 ? ViewBag.Registered * 100 / Model.TicketsSold : 0)% </div>
				</div>

				<span class="dash-name">Tickets Sold: </span> @Model.TicketsSold out of @ViewBag.AllTickets <br />
				<div class="chart-base"> 
					<div class="chart" style="width:@(ViewBag.AllTickets != 0 ? Model.TicketsSold * 100 / ViewBag.AllTickets : 0)%;"> 
					@(ViewBag.AllTickets != 0 ? Model.TicketsSold * 100 / ViewBag.AllTickets : 0)% </div>
				</div>

			</div>

			<div class="dash-head tog" data-id="ticket">
				TICKETS
			</div>
			<div class="dash-section" id="ticket">
				
				<br />
				<span class="dash-name">Attendance (CheckIn/Register/Sold): </span> <br />
				@foreach (Ticket t in @Model.Tickets)
				{
					<div> @t.Type - @t.CheckIned / @t.Registered / @t.Sold </div>
				}
			</div>	
		</div>
		<div class="col-sm-4 nopad">	
				

			<div class="dash-head tog" data-id="product">
				PRODUCTS / EVENTS
			</div>
			<div class="dash-section" id="product">
				<span class="dash-name">Events: </span> <br />
				@foreach (Product p in @Model.Products)
				{
					<div> @p.Name - @(p.Free ? "Free" : "Paid") - @p.DateStart, @p.TimeStart/@p.TimeEnd - @(p.Status ? "<span class='Base'>Active</span>" : "Inactive") </div>
				}
				<br />
			</div>
		</div>
	</div>

	<!-- VISITOR"S REQUESTS -->
	<div class="row text-center m20-0-20-0">
		<h2> Visitors Requests / Complaints</h2>
	</div>

	@if(ViewBag.Requests != null && ViewBag.Requests.Count != 0)
	{
		<table class="table table-hover">
			<thead>
				<tr style="border-bottom: 2px solid gray;">
					<th>ID</th>
					<th>Time</th>
					<th>Date</th>
					<th style="width: 40%;">Description</th>
					<th>Admin</th>
					<th>Important</th>
					<th>Seen</th>
					<th>Solved</th>
					<th style="width: auto; text-align: right;">Actions</th>
				</tr>
			</thead>
			<tbody>

			@foreach(var r in ViewBag.Requests)
			{	
				<tr>
					<td>@r.ID</td>
					<td>@r.Time</td>
					<td>@r.Date</td>
					<td style="width: 40%;">@r.Description</td>
					<td>@r.AdminName</td>
					<td class="text-center">
						<div class="bulp @(r.Important ? "bgRed" : "bgBase")"></div>
					</td>
					<td>
						<div class="bulp @(r.SeenByAdmin ? "bgBase" : "bgRed")"></div>
					</td>
					<td>
						<div class="bulp @(r.Solved ? "bgBase" : "bgRed")"></div>
					</td>
					<td style="width: auto; text-align: right;">
						
					@if(await AuthorizationService.AuthorizeAsync(User, "Visitor Editor"))
					{
						<div class="dropdown">
							<button class="btn mybtn-sm-actions bgBro" type="button" data-toggle="dropdown">Actions
							<span class="caret"></span></button>
							<ul class="dropdown-menu dropdown-menu-right">
									<li><a asp-action="Edit" asp-controller="Request" asp-route-ID="@r.ID">Edit</a></li>
									<li><a asp-action="Status" asp-controller="Request" asp-route-ID="@r.ID" asp-route-Name="SOLVED">Change Solved </a></li>
									<li><a asp-action="Status" asp-controller="Request" asp-route-ID="@r.ID" asp-route-Name="IMPORTANT">Change Importance</a></li>
									<li><a asp-action="Status" asp-controller="Request" asp-route-ID="@r.ID" asp-route-Name="SEEN">Change Seen</a></li>
									<li><a asp-action="Delete" asp-controller="Request" asp-route-ID="@r.ID">Delete</a></li>
							</ul>
						</div>
					}
					else
					{
						<span>NO ACCESS</span>
					}		
					</td>
				</tr>
			}
			</tbody>
		</table>
	}
	else
	{
		<div class="text-center">
			No requests have been created yet.
		</div>
	}
}
else
{
	<div class="row pad10 text-center">
		<div class="f-attention">You have no ACTIVE event yet!
		</div>
		<br />
		<a asp-action="Index" asp-controller="Owner" class="btn mybtn bgBase">OK</a>
	</div>
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}