@model Visitor

<h1>Visitor's details</h1> 
@if(Model.Deleted || Model.Blocked)
{
	<div class="f-attention f1-5">THIS VISITOR WAS @(Model.Deleted ? "DELETED" : "BLOCKED").
	</div>
}

<div class="text-center m20-0-20-0">
    <a asp-action="Dashboard" asp-controller="Admin" class="btn mybtn bgBase">BACK</a>
    <div class="dropdown inline">
        
		<button class="btn mybtn bgBro dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions <span class="f0-7">&nbsp &#x25BC;</span>
        </button>

        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
            @if(await AuthorizationService.AuthorizeAsync(User, "Visitor Editor"))
            {
                <li><a asp-action="EditVisitor" asp-controller="Admin" asp-route-id="@Model.ID">EDIT</a></li>
				<li><a asp-action="Add" asp-controller="Request" asp-route-ID="@Model.ID">ADD REQUEST</a></li>
				<li><a asp-action="Add" asp-controller="Note" asp-route-id="@Model.ID" >ADD NOTE </a></li>
				<li><a asp-action="Add" asp-controller="Issue" asp-route-ID="@Model.ID" asp-route-EID="@Model.EID">ADD ISSUE</a></li>
				<li role="separator" class="divider"></li>
            }
            @if(await AuthorizationService.AuthorizeAsync(User, "Visitor Killer"))
            {
                @if(!Model.Deleted){
				<li><a asp-action="DeleteVisitor" asp-controller="Admin" asp-route-id="@Model.ID">DELETE</a></li>
				}
				else{
				<li><a asp-action="Reinstate" asp-controller="Admin" asp-route-id="@Model.ID">REINSTATE</a></li>
				}
            }
        </ul>
    </div>
</div>

@if(ViewBag.Message != null)
{
	<div id="tog" class="f-attention">@ViewBag.Message</div>
}
<br />
<div class="text-center">
	Check In: <div class="bulp @(Model.CheckIned ? "bgBase" : "bgGray")" style="vertical-align: bottom"></div> &nbsp
	Registration: <div class="bulp @(Model.Registered ? "bgBase" : "bgGray")" style="vertical-align: bottom"></div> &nbsp
	Block: <div class="bulp @(Model.Blocked ? "bgRed" : "bgBase")" style="vertical-align: bottom"></div> 
</div>
<br />
<div class="dash-section">
	<div class="row mar5">
		<div class="col-sm-4 nopad">
				<span class="dash-name">First Name: </span>
				@Model.Name 
				<br />
				<span class="dash-name">Last Name: </span>
				@Model.Last
				<br />
				<span class="dash-name">Ticket: </span>
				@Model.TicketType
				<br />
				<span class="dash-name">Category: </span>
				@Model.Type
				<br />
		</div>
		<div class="col-sm-4 nopad">
				<span class="dash-name">Registration #: </span>
				@Model.RegistrationNumber
				<br />
				<span class="dash-name">Order #: </span>
				@Model.OrderNumber
				<br />
				<span class="dash-name">Reg. time: </span>
				@Model.RegTime,  @Model.RegDate
				<br />
				<span class="dash-name">Company: </span>
				@Model.Company
				<br />
		</div>
		<div class="col-sm-4 nopad">
				<span class="dash-name">Occupation: </span>
				@Model.Occupation
				<br />
				<span class="dash-name">Phone / ext.: </span>
				@Model.Phone @(Model.Extention == null ? "" : "/ " + Model.Extention)
				<br />
				<span class="dash-name">Email: </span>
				@Model.Email
				<br />
			@if(Model.Blocked)
			{
				<span class="dash-name">Block Reason: </span>
				@Model.BlockReason
				<br />
			}
		</div>
	</div>
</div>

<!-- VISITOR'S NOTES -->
<div class="row text-center m20-0-20-0">
    <h2> Admin's Notes</h2>
</div>

@if(Model.Notes != null && Model.Notes.Count != 0)
{
	<table class="table table-hover">
		<thead>
			<tr style="border-bottom: 2px solid gray;">
				<th>ID</th>
				<th>Time</th>
				<th>Date</th>
				<th style="width: 40%;">Description</th>
				<th>Admin</th>
				<th>Important</th>
				<th>Seen</th>
				<th></th>
			</tr>
		</thead>
		<tbody>

		@foreach(var r in Model.Notes.OrderByDescending(x => x.ID))
		{	
			<tr>
				<td>@r.ID</td>
				<td>@r.Time</td>
				<td>@r.Date</td>
				<td style="width: 40%;">@r.Description</td>
				<td>@r.AdminName</td>
				<td class="text-center">
					<div class="bulp @(r.Important ? "bgRed" : "bgBase")"></div>
				</td>
				<td>
					<div class="bulp @(r.SeenByAdmin ? "bgBase" : "bgRed")"></div>
				</td>
				<td style="width: auto; text-align: right;">	
				@if(await AuthorizationService.AuthorizeAsync(User, "Visitor Editor"))
				{
					<div class="dropdown">
						<button class="btn mybtn-sm-actions bgBro" type="button" data-toggle="dropdown">Actions &nbsp &#x25BC;</button>
						<ul class="dropdown-menu dropdown-menu-right">
								<li><a asp-action="Add" asp-controller="Note" asp-route-ID="@Model.ID">Add New</a></li>
								<li><a asp-action="Edit" asp-controller="Note" asp-route-ID="@r.ID">Edit</a></li>
								<li><a asp-action="Status" asp-controller="Note" asp-route-ID="@r.ID" asp-route-Name="IMPORTANT">Change Importance</a></li>
								<li><a asp-action="Status" asp-controller="Note" asp-route-ID="@r.ID" asp-route-Name="SEEN">Change Seen</a></li>
								<li><a asp-action="Delete" asp-controller="Note" asp-route-ID="@r.ID">Delete</a></li>
						</ul>
					</div>
				}
				else
				{
					<span>NO ACCESS</span>
				}		
				</td>
			</tr>
		}
		</tbody>
	</table>
}
else
{
	<div class="text-center">
		No notes have been created yet.
	</div>
}

<!-- VISITOR"S REQUESTS -->
<div class="row text-center m20-0-20-0">
    <h2> Visitor's Requests / Complaints</h2>
</div>

@if(Model.Requests != null && Model.Requests.Count != 0)
{
	<table class="table table-hover">
		<thead>
			<tr style="border-bottom: 2px solid gray;">
				<th>ID</th>
				<th>Time</th>
				<th>Date</th>
				<th style="width: 40%;">Description</th>
				<th>Admin</th>
				<th>Important</th>
				<th>Seen</th>
				<th>Solved</th>
				<th></th>
			</tr>
		</thead>
		<tbody>

		@foreach(var r in Model.Requests.OrderByDescending(x => x.ID))
		{	
			<tr>
				<td>@r.ID</td>
				<td>@r.Time</td>
				<td>@r.Date</td>
				<td style="width: 40%;">@r.Description</td>
				<td>@r.AdminName</td>
				<td class="text-center">
					<div class="bulp @(r.Important ? "bgRed" : "bgBase")"></div>
				</td>
				<td>
					<div class="bulp @(r.SeenByAdmin ? "bgBase" : "bgRed")"></div>
				</td>
				<td>
					<div class="bulp @(r.Solved ? "bgBase" : "bgRed")"></div>
				</td>
				<td style="width: auto; text-align: right;">
					
				@if(await AuthorizationService.AuthorizeAsync(User, "Visitor Editor"))
				{
					<div class="dropdown">
						<button class="btn mybtn-sm-actions bgBro" type="button" data-toggle="dropdown">Actions &nbsp &#x25BC;</button>
						<ul class="dropdown-menu dropdown-menu-right">
								<li><a asp-action="Add" asp-controller="Request" asp-route-ID="@Model.ID">Add New</a></li>
								<li><a asp-action="Edit" asp-controller="Request" asp-route-ID="@r.ID">Edit</a></li>
								<li><a asp-action="Status" asp-controller="Request" asp-route-ID="@r.ID" asp-route-Name="SOLVED">Change Solved </a></li>
								<li><a asp-action="Status" asp-controller="Request" asp-route-ID="@r.ID" asp-route-Name="IMPORTANT">Change Importance</a></li>
								<li><a asp-action="Status" asp-controller="Request" asp-route-ID="@r.ID" asp-route-Name="SEEN">Change Seen</a></li>
								<li><a asp-action="Delete" asp-controller="Request" asp-route-ID="@r.ID">Delete</a></li>
						</ul>
					</div>
				}
				else
				{
					<span>NO ACCESS</span>
				}		
				</td>
			</tr>
		}
		</tbody>
	</table>
}
else
{
	<div class="text-center">
		No requests have been created yet.
	</div>
}
 
<!-- VISITOR"S LOGS -->
<div class="row text-center m20-0-20-0">
    <h2> Visitor's Logs</h2>
</div>

@if(Model.Logs != null && Model.Logs.Count != 0)
{
	<table class="table table-hover">
		<thead>
			<tr style="border-bottom: 2px solid gray;">
				<th>Log ID</th>
				<th>Time</th>
				<th>Date</th>
				<th>Stage</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>

		@foreach(var l in Model.Logs.OrderByDescending(x => x.ID))
		{	
			<tr style="border-top: 2px solid gray;" class="@(l.Type == "ADMIN" ? "bgAttention" : "")">
				<td>@l.ID</td>
				<td>@l.Time</td>
				<td>@l.Date</td>
				<td>@l.Type</td>
				<td>@l.Action</td>			
			</tr>
			@if(l.CurrentState != null)
			{
				<tr style="border-bottom: 2px solid gray;">
					<td colspan="100">
						@l.CurrentState.Name @l.CurrentState.Last | @l.CurrentState.Email | @l.CurrentState.Phone @(l.CurrentState.Extention == null ? "" : $"/ { l.CurrentState.Extention} ")| @l.CurrentState.Company, @l.CurrentState.Occupation 
					</td>	
				</tr>
			}
		}
		</tbody>
	</table>
}
else
{
	<div class="text-center">
		No logs have been created yet.
	</div>
}
			
