<h2>ALL Visitor Types</h2>
<h4>Event ID: @ViewBag.ID </h4>
<br />
<div style="width: 100%">
@if (ViewBag.VTypes.Count != 0)
{
	<table class="table table-hover" style="max-width: 800px; margin: 0 auto;">
		<thead>
			<tr>
				<th>Name</th>
				<th>Limited</th>
				<th>Max Amount</th>
				<th>Free</th>
				<th style="max-width: 250px;">Description</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<tr style="height: 4px;">
					<td colspan="20" style="padding: 0px; background-color: gainsboro"></td>
			</tr>
			@foreach(VType v in ViewBag.VTypes)
			{
				<tr>
					<td>@v.Name</td>
					<td>@v.Limited</td>
					<td>@v.MaxLimit</td>
					<td>@v.Free</td>
					<td style="max-width: 250px;">@v.Description</td>
					<td>
						<a asp-action="Copy" asp-route-ID="@v.ID" class="btn mybtn-sm-base">Copy</a>

						<a asp-action="Edit" asp-route-ID="@v.ID" class="btn mybtn-sm-bro">Edit</a>
				
						<a asp-action="Delete" asp-route-ID="@v.ID" class="btn mybtn-sm-red">Delete</a>
					</td>
				</tr>
				<tr style="height: 4px;">
					<td colspan="20" style="padding: 0px; background-color: gainsboro"></td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<div class="text-center f-info Accent" style="max-width: 800px; margin: 0 auto;">This Event has no Visitor Types yet.</div>
}
	<br />
	<div class="table table-hover" style="max-width: 800px; margin: 0 auto;">
		<a asp-action="Add" asp-route-id="@ViewBag.ID" class="btn mybtn bgBro">ADD</a>
		<a asp-action="ViewEvent" asp-controller="Owner" asp-route-id="@ViewBag.ID" class="btn mybtn bgBase">BACK</a>
	@if (ViewBag.VTypes.Count != 0) 
	{
		<a asp-action="DeleteAll" asp-route-id="@ViewBag.ID" class="btn mybtn bgRed">DELETE ALL</a>
	}
	</div>
</div>
