<h1>ALL Visitor Types</h1>
<h3> @ViewBag.Event.Name </h3>

<div style="width: 100%">
@if (ViewBag.Event.Types.Count != 0)
{
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Limited</th>
				<th>Max Amount</th>
				<th>Free</th>
				<th style="max-width: 250px;">Description</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<tr style="height: 4px;">
					<td colspan="20" class="line-space"></td>
			</tr>
			@foreach(VType v in ViewBag.Event.Types)
			{
				<tr>
					<td>@v.Name</td>
					<td>@(v.Limited ? "Yes" : "No")</td>
					<td>@v.MaxLimit</td>
					<td>@(v.Free ? "Yes" : "No")</td>
					<td style="max-width: 250px;">@v.Description</td>
					<td style="width: auto; text-align: right;">
					@if((await AuthorizationService.AuthorizeAsync(User, "VType Creator")) || (await AuthorizationService.AuthorizeAsync(User, "VType Killer")))
					{
						<div class="dropdown">
							<button class="btn mybtn-sm-actions bgBro" type="button" data-toggle="dropdown">Actions
							<span class="caret"></span></button>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a asp-action="Copy" asp-route-ID="@v.ID">Copy</a></li>
								<li><a asp-action="Edit" asp-route-ID="@v.ID">Edit</a></li>
								<li><a asp-action="Delete" asp-route-ID="@v.ID">Delete</a></li>
							</ul>
						</div>	
					}
					else
					{
						<span>No Access</span>
					}					
					</td>
				</tr>
				<tr style="height: 4px;">
					<td colspan="20" class="line-space"></td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<div class="f-info">This Event has no Visitor Types yet.</div>
}
	<br />
	<div class="text-center">
		@if(await AuthorizationService.AuthorizeAsync(User, "VType Creator"))
		{
			<a asp-action="Add" asp-route-id="@ViewBag.Event.ID" class="btn mybtn bgBase">ADD</a>
		}
		<a asp-action="ViewEvent" asp-controller="Owner" asp-route-id="@ViewBag.Event.ID" class="btn mybtn bgBro">BACK</a>
		@if (ViewBag.Event.Types.Count != 0 && (await AuthorizationService.AuthorizeAsync(User, "Is Owner"))) 
		{
			<a asp-action="DeleteAll" asp-route-id="@ViewBag.Event.ID" class="btn mybtn bgRed">DELETE ALL</a>
		}
	</div>
</div>
