@model Visitor

@{
	Layout = "_NoBody";
}

<div class="confirmation c-c">
	<div class="bgBase text-center" style="color: #fff; height: 70px; line-height: 70px;">
		Dear, @Model.Name @Model.Last!
	</div>
	<div style="padding: 15px;" class="text-center">
		Changes were saved.
		<br />
		Your registration number is:<br />
		<span class="m5-0-5-0 reg-number">@Model.RegistrationNumber</span>
		<span> Would you like to check-in? </span>
	</div>
		
	<div class="col-xs-6 nopad">
		<form asp-action="CheckIn" autocomplete="off">
			<input style="display: none;" asp-for="RegistrationNumber" value="@Model.RegistrationNumber" />
			<input style="display: none;" asp-for="EID" value="@Model.EID" />
			<button type="submit" class="btn mybtn bgBase" style="width: 100%;">
			Yes</button>
		</form>
	</div>
	<div class="col-xs-6 nopad">
		<a asp-action="Index" asp-controller="Home" class="btn mybtn bgBro" style="width: 100%;">
		No</a>
	</div>
</div>
