@model Visitor

@{
	Layout = "_NoBody";
}

<form asp-action="EditOk" autocomplete="off">
	<h1 class="text-center">Information Update</h1>
	@if(ViewBag.Message != null)
	{
		<br /> 
		<div class="f-attention">
			<span>@ViewBag.Message </span>
		</div>
	}
	<br />
	<div class="row"></a> 
		<div class="col-sm-6">
			<div class="form-number-container">
				<span class="form-number">1</span> Personal info
			</div>
				
			<div class="form-group">
				<label asp-for="Type" class="control-label"></label>
				<input asp-for="Type" value="@Model.Type" readonly="readonly" class="form-control f1-5" />
			</div>

			<div class="form-group">
				<label asp-for="TicketType" class="control-label">Ticket</label>
				<input asp-for="TicketType" value="@Model.TicketType" readonly="readonly" class="form-control f1-5" />
			</div>

			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control f1-5"/>
				<span asp-validation-for="Name" class="Red"></span>
			</div>

			<div class="form-group">
				<label asp-for="Last" class="control-label"></label>
				<input asp-for="Last" class="form-control f1-5"/>
				<span asp-validation-for="Last" class="Red"></span>
			</div>	
		</div>
		
		<div class="col-sm-6">
			<div class="form-number-container">
				<span class="form-number">2</span> Company info
			</div>

			<div class="form-group">
				<label asp-for="Company" class="control-label"></label>
				<input asp-for="Company" class="form-control f1-5"/>
				<span asp-validation-for="Company" class="Red"></span>
			</div>

			<div class="form-group">
				<label asp-for="Occupation" class="control-label"></label>
				<input asp-for="Occupation" class="form-control f1-5"/>
				<span asp-validation-for="Occupation" class="Red"></span>
			</div>

			<div class="form-group">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control f1-5"/>
				<span asp-validation-for="Email" class="Red"></span>
			</div>

			<!--Phone-->
			<div class="form-group" style="max-width: 400px;">
				<div class="row" style="margin: 0px;">
					<div class="col-xs-8 nopad nomar">
						<label asp-for="Phone" class="control-label"></label>
						<input asp-for="Phone" class="form-control f1-5" />
					</div>
					<!-- extentition -->
					<div class="col-xs-4 nomar" style="padding: 0px 0px 0px 5px;">
						<label asp-for="Extention" class="control-label"></label>
						<input asp-for="Extention" class="form-control f1-5" />
					</div>
					<span asp-validation-for="Phone" class="Red"></span>
					<span asp-validation-for="Extention" class="Red"></span>	
				</div>
			</div>
			<!---->

			<div style="display: none;">
				<input asp-for="RegistrationNumber" value="@Model.RegistrationNumber"/>
				<input asp-for="EID" value="@Model.EID" />
				<input asp-for="OrderNumber" value="@Model.OrderNumber" />
			</div>

			<div class="form-group">
				<a asp-action="Menu" asp-controller="Home" asp-route-EID="@Model.EID" class="btn mybtn bgRed">CANCEL</a>
			<button type="submit" class="btn mybtn bgBase">SAVE</button>
			
		</div>
	</div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}