@model Visitor

@{
	Layout = "_NoBody";
}

<div class="confirmation c-c">
	<div class="bgBase text-center" style="color: #fff; height: 70px; line-height: 70px;">
		Dear, @Model.Name @Model.Last!
	</div>
	<div style="padding: 15px;" class="text-center">
		Changes were saved.
		<br />
		Your registration number is:<br />
		<span class="m5-0-5-0 reg-number">@Model.RegistrationNumber</span>
		<span> Would you like to check-in? </span>
	</div>
		
	<div class="text-center m10-0-10-0">
		<form asp-action="CheckIn" autocomplete="off" class="inline">
			<input class="eye" asp-for="RegistrationNumber" value="@Model.RegistrationNumber" />
			<input class="eye" asp-for="EID" value="@Model.EID" />
			<button type="submit" class="btn mybtn bgBase">
			Yes</button>
		</form>

		<a asp-action="Index" asp-controller="Home" class="btn mybtn bgBro">No</a>
	</div>
</div>
