@model List<Order>

<h1>Orders</h1> 
<h3>@ViewBag.Event</h3>	

<!-- results -->
@if(Model != null && Model.Count != 0)
{
	<table class="table table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>Order #</th>
				<th>Ticket Type</th>
				<th>Visitor Type</th>
				<th># / Reg. #</th>
				<th>Date</th>
				<th>Time</th>
				<th>Contact</th>
				<th>Canceled</th>
				<th>Full</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		@foreach(var o in Model)
		{	
			<tr class="@(o.Cancelled ? "bgAttention" : "")">
				<td>@o.ID</td>
				<td>@o.Number</td>
				<td>@o.TicketType</td>
				<td>@o.VType</td>
				<td>@o.CheckedIn / @o.Amount</td>
				<td>@o.Date</td>
				<td>@o.Time</td>
				<td>
					@o.OwnerName <br />
					@o.OwnerEmail <br />
					@o.OwnerPhone
				</td>
				<td class="text-center">
					<div class="bulp @(o.Cancelled ? "bgRed" : "bgBase")"></div>
				</td>
				<td>
					<div class="bulp @(!o.Full ? "bgBase" : "bgGray")"></div>
				</td>
				<td style="width: auto; text-align: right;">	
					<div class="dropdown">
						<button class="btn mybtn-sm-actions bgBro" type="button" data-toggle="dropdown">Actions &nbsp &#x25BC;</button>
						<ul class="dropdown-menu dropdown-menu-right">
							<li><a asp-action="EditOrder" asp-controller="Order" asp-route-ID="@o.ID">Edit</a></li>
							<li><a asp-action="AddOrder" asp-controller="Order" asp-route-ID="@o.EID">Add New</a></li>
						</ul>
					</div>
				</td>
			</tr>
		}
		</tbody>
	</table>
}
else
{
	<div id="tog" class="f-attention">There are no Orders yet.</div>
	<div class="text-center">
		<a asp-action="Dashboard" class="btn mybtn bgBase">OK</a>
	</div>
}