@using System.Linq

<h1>ALL Products</h1>

<div style="width: 100%">
	@if (ViewBag.Products.Count != 0)
	{
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Capacity</th>
					<th>Status</th>
					<th>Starts on</th>
					<th>Ends on</th>
					<th>Free</th>
					<th>Tickets</th>
					<th style="max-width: 300px;">Description</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				<tr style="height: 4px;">
						<td colspan="20" class="line-space"></td>
				</tr>
				@foreach(Product p in ViewBag.Products)
				{
					<tr>
						<td>@p.Name</td>
						<td>@p.Capacity</td>
						<td>@(p.Status ? "Yes": "No")</td>
						<td>@p.DateStart <br /> @p.TimeStart</td>
						<td>@p.DateEnd <br /> @p.TimeEnd</td>
						<td>@(p.Free ? "Yes" : "No")</td>
						<td>
							<a asp-action="SelectTickets" asp-route-ID="@p.ID" asp-route-EID="@p.EID" class="btn mybtn-sm-base" style="width: 75px;">Add/Remove</a>

							@if (p.TTypes != null && p.TTypes != "")
							{
								var i = @p.TTypes.Split('|').ToList();
								foreach(string s in i)
								{
									<div>@s</div>
								}
							}
						</td>
						<td style="max-width: 300px;">@p.Description </td>
						<td>
							<a asp-action="Copy" asp-route-ID="@p.ID" class="btn mybtn-sm-base">Copy</a>

							<a asp-action="Edit" asp-route-ID="@p.ID" class="btn mybtn-sm-bro">Edit</a>

							<a asp-action="Delete" asp-route-ID="@p.ID" class="btn mybtn-sm-red">Delete</a>

						</td>
					</tr>
					<tr style="height: 4px;">
						<td colspan="20" class="line-space"></td>
					</tr>
				}
			</tbody>
		</table>
	}
	else
	{
		<div class="f-info">This Event has no Products yet.</div>
	}
	
	<br />
	<div class="text-center">
		<a asp-action="Add" asp-route-id="@ViewBag.ID" class="btn mybtn bgBro">ADD</a>
		<a asp-action="ViewEvent" asp-controller="Owner" asp-route-id="@ViewBag.ID" class="btn mybtn bgBase">BACK</a>

		@if (ViewBag.Products.Count != 0) 
		{
			<a asp-action="DeleteAll" asp-route-id="@ViewBag.ID" class="btn mybtn bgRed">DELETE ALL</a>
		}
	</div>
</div>
