@using System.Linq

<h1>ALL Products</h1>
<h3> @ViewBag.Event.Name </h3>

<div style="width: 100%">
@if (ViewBag.Event.Products.Count != 0)
{
	<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Capacity</th>
			<th>Status</th>
			<th>Starts on</th>
			<th>Ends on</th>
			<th>Free</th>
			<th>Tickets</th>
			<th style="max-width: 300px;">Description</th>
			<th style="width: auto;"></th>
		</tr>
	</thead>

	<tbody>
		<tr style="height: 4px;">
				<td colspan="20" class="line-space"></td>
		</tr>
		@foreach(Product p in ViewBag.Event.Products)
		{
			<tr>
				<td>@p.Name</td>
				<td>@p.Capacity</td>
				<td>
					@if (p.Status) {
					<span class='Base'>Active</span> } 
					else {
					<span class='Red'>Inactive</span> }
				</td>
				<td>@p.DateStart <br /> @p.TimeStart</td>
				<td>@p.DateEnd <br /> @p.TimeEnd</td>
				<td>@(p.Free ? "Yes" : "No")</td>
				<td>
					@if (p.TTypes != null && p.TTypes != "")
					{
						var i = @p.TTypes.Split('|').ToList();
						foreach(string s in i)
						{
							<div>@s</div>
						}
					}
				</td>
				<td style="max-width: 300px;">@p.Description </td>
				<td style="width: auto; text-align: right;">
				@if((await AuthorizationService.AuthorizeAsync(User, "Product Creator")) || (await AuthorizationService.AuthorizeAsync(User, "Product Killer")))
				{
					<div class="dropdown">
						<button class="btn mybtn-sm-actions bgBro" type="button" data-toggle="dropdown">Actions
						 &nbsp &#x25BC;</button>
						<ul class="dropdown-menu dropdown-menu-right">
							<li><a asp-action="Copy" asp-route-ID="@p.ID">Copy</a></li>
							<li><a asp-action="Edit" asp-route-ID="@p.ID">Edit</a></li>
							<li><a asp-action="Delete" asp-route-ID="@p.ID">Delete</a></li>
							<li><a asp-action="SelectTickets" asp-route-ID="@p.ID" asp-route-EID="@p.EID">Add/Remove Tickets</a></li>
						</ul>
					</div>
				}
				else
				{
					<span>No Access</span>
				}
				</td>
			</tr>
			<tr style="height: 4px;">
				<td colspan="20" class="line-space"></td>
			</tr>
		}
	</tbody>
	</table>
}
else
{
	<div class="f-info">This Event has no Products yet.</div>
}
	
	<br />
	<div class="text-center">
		@if(await AuthorizationService.AuthorizeAsync(User, "Product Creator"))
		{
		<a asp-action="Add" asp-route-id="@ViewBag.Event.ID" class="btn mybtn bgBase">ADD</a>
		}
		<a asp-action="ViewEvent" asp-controller="Owner" asp-route-id="@ViewBag.Event.ID" class="btn mybtn bgBro">BACK</a>

		@if (ViewBag.Event.Products.Count != 0 && (await AuthorizationService.AuthorizeAsync(User, "Is owner")))
		{
			<a asp-action="DeleteAll" asp-route-id="@ViewBag.Event.ID" class="btn mybtn bgRed">DELETE ALL</a>
		}
	</div>
</div>
