<h1>ADD Tickets</h1>

<div style="width: 100%">

    <a id="addall" class="btn mybtn-sm-base" style="width: 90px;">ADD ALL</a>
    <a id="all" class="btn mybtn-sm-red" style="width: 90px;">REMOVE ALL</a>
    
	@if (ViewBag.Tickets.Count != 0)
	{
		<table class="table table-hover ">
			<thead>
				<tr>
					<th>Type</th>
					<th>Price</th>
					<th>Amount</th>
					<th>Description</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<tr style="height: 4px;">
					<td colspan="20" class="line-space"></td>
				</tr>
				@foreach(Ticket t in ViewBag.Tickets)
				{
					<tr>
						<td>@t.Type</td>
						<td>$@t.Price</td>
						<td>@t.Limit</td>
						<td>@t.Description </td>
						<td>
							@{
								var check = false;
								if (ViewBag.Types != null && ViewBag.Types != "")
								{
									string types = @ViewBag.Types;
									var i = types.Split('|').ToList();
									foreach(string s in i){
										if (@t.Type == s){
											check = true;
										}
									}
								}
								if (check){
									<input class="btn mybtn-sm remove" type="button" value="REMOVE" data-type="@t.Type">
								}
								else {
									<input class="btn mybtn-sm add" type="button" value="ADD" data-type="@t.Type">
								}
							}
						</td>
					</tr>
					<tr style="height: 4px;">
						<td colspan="20" class="line-space"></td>
					</tr>
				}
			</tbody>
		</table>
	}
	else
	{
		<div class="f-info ">This Event has no Tickets yet.</div>
	}

	<div class="text-center">	
        <form asp-action="SaveTickets" autocomplete="off">
            <input id="save" name="result" value="@ViewBag.Types" class="eye" />
            <input name="ID" value="@ViewBag.ID" class="eye" />
            <button type="submit" class="btn mybtn bgBro">SAVE</button>
            <a asp-action="Index" asp-route-id="@ViewBag.EID" class="btn mybtn bgBase">BACK</a>
        </form>
	</div>
</div>

