<h1>ALL ToDo Items</h1>

<div class="text-center">
@if(await AuthorizationService.AuthorizeAsync(User, "Todo Creator"))
{
	<a asp-action="AddFull" class="btn mybtn bgBase">ADD</a>
}
	<a asp-action="Index" asp-controller="Owner" class="btn mybtn bgBro">BACK</a>
	
@if (ViewBag.Todos.Count != 0 && (await AuthorizationService.AuthorizeAsync(User, "Is Owner"))) 
{
	<a asp-action="DeleteAll" class="btn mybtn bgRed">DELETE ALL</a>
}
</div>
<br />


<div style="width: 100%">
@if (ViewBag.Todos.Count != 0)
{
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Task</th>
				<th>Deadline</th>
				<th>Event ID</th>
				<th>Comments</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<tr style="height: 4px;">
					<td colspan="20" class="line-space"></td>
			</tr>
			@foreach(ToDo t in ViewBag.Todos)
			{
				<tr>
					<td>@t.Task</td>
					<td>@t.Deadline</td>
					<td>@t.EID</td>
					<td>@t.Comments</td>
					<td style="width: auto; text-align: right;">
						<div class="dropdown">
							<button class="btn mybtn-sm-actions bgBro" type="button" data-toggle="dropdown">Actions
							<span class="caret"></span></button>
							<ul class="dropdown-menu dropdown-menu-right">
							@if(await AuthorizationService.AuthorizeAsync(User, "Todo EditorKiller"))
							{
								<li><a asp-action="Done" asp-route-ID="@t.ID">Mark As Done</a></li>
								<li><a asp-action="Edit" asp-route-ID="@t.ID">Edit</a></li>
								<li><a asp-action="Delete" asp-route-ID="@t.ID">Delete</a></li>
							}
							@if(await AuthorizationService.AuthorizeAsync(User, "Todo Creator"))
							{
								<li><a asp-action="Copy" asp-route-ID="@t.ID">Copy</a></li>
							}
							</ul>
						</div>
					</td>
				</tr>
				<tr style="height: 4px;">
					<td colspan="20" class="line-space"></td>
				</tr>
			}
		</tbody>
	</table>
}

<br />
<h3 class="text-center m20-0-20-0">Completed ToDo Items</h3>
<br />

@if (ViewBag.Done.Count != 0)
{
	<table class="table table-hover Gray">
		<thead>
			<tr>
				<th>Task</th>
				<th>Deadline</th>
				<th>Event ID</th>
				<th>Comments</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<tr style="height: 4px;">
					<td colspan="20" class="line-space"></td>
			</tr>
			@foreach(ToDo t in ViewBag.Done)
			{
				<tr>
					<td>@t.Task</td>
					<td>@t.Deadline</td>
					<td>@t.EID</td>
					<td>@t.Comments</td>
					<td class="text-right">
						<div class="dropdown">
							<button class="btn mybtn-sm-actions bgGray" type="button" data-toggle="dropdown">Actions
							<span class="caret"></span></button>
							<ul class="dropdown-menu dropdown-menu-right">
							@if(await AuthorizationService.AuthorizeAsync(User, "Todo EditorKiller"))
							{
								<li><a asp-action="Done" asp-route-ID="@t.ID">Mark As Done</a></li>
								<li><a asp-action="Edit" asp-route-ID="@t.ID">Edit</a></li>
								<li><a asp-action="Delete" asp-route-ID="@t.ID">Delete</a></li>
							}
							@if(await AuthorizationService.AuthorizeAsync(User, "Todo Creator"))
							{
								<li><a asp-action="Copy" asp-route-ID="@t.ID">Copy</a></li>
							}
							</ul>
						</div>
					</td>
				</tr>
				<tr style="height: 4px;">
					<td colspan="20" class="line-space"></td>
				</tr>
			}
		</tbody>
	</table>
}

@if (ViewBag.Todos.Count == 0 && ViewBag.Done.Count == 0)
{
	<div class="f-info">You have no ToDo Items yet.</div>
}

</div>
