@{ 
    Layout = "_NoBody";
}

<div class="row text-center">
    <h2>Please select your Event</h2>
</div>

<div class="row" style="padding-top: 60px;">
    
    <div class="col-sm-12">
        <div class="welcome-number-container" style="border-bottom: 1px solid var(--colBase);">
            <span class="welcome-number bgBase">ACTIVE</span>
        </div>
        @if (ViewBag.Active == null)
        {
            <div class="no-event">There is no any Active event yet.</div>
        }
        else
        {
            <a asp-action="Menu" asp-route-EID="@ViewBag.Active.ID" class="btn btn-home">
                @ViewBag.Active.Name <br />
                <span style="font-size: 0.5em;"> @ViewBag.Active.DateStart - @ViewBag.Active.DateEnd </span>
            </a>
        }
    </div>
    <br />
    <br />

    <div class="col-sm-12">
        <div class="welcome-number-container" style="border-bottom: 1px solid var(--colBro);">
            <span class="welcome-number bgBro">FUTURE</span>
        </div>
        
        @if (ViewBag.Future.Count == 0)
        {
            <div class="no-event">There is no any upcoming event yet.</div> 
        }
        else
        {
            @foreach (Event e in ViewBag.Future)
            {
                <div asp-action="Menu" asp-route-EID="@e.ID" class="event-future">
                @e.Name <br />
                <span style="font-size: 0.5em;"> @e.DateStart - @e.DateEnd </span></div>
            }     
        }
    </div>
</div>
