@model Note

<h1>ADD Note</h1> 
<h3> Visitor: @ViewBag.Visitor.Name @ViewBag.Visitor.Last </h3>

<form asp-action="Add" asp-controller="Note" asp-route-VID="@ViewBag.Visitor.ID" autocomplete="off">
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="8" wrap="soft"></textarea>
            </div>

            <div class="form-group text-center">
                <label asp-for="Important" class="control-label"></label>&nbsp
                <span class="true-false" data-id="box1"></span>
                <input asp-for="Important" class="eye" id="box1"/> &nbsp &nbsp &nbsp

				<label asp-for="SeenByAdmin" class="control-label"></label>&nbsp
                <span class="true-false" data-id="box2"></span>
                <input asp-for="SeenByAdmin" class="eye" id="box2"/>
            </div>

            <div style="display: none;">
                <input asp-for="VID" value="@ViewBag.Visitor.ID" />
            </div>

			<br />
            <div class="form-group text-center">
                <button type="submit" class="btn mybtn bgBase">ADD</button>
                <button type="reset" class="btn mybtn bgBro">RESET</button>
                <a asp-action="ViewVisitor" asp-controller="Admin" asp-route-ID="@ViewBag.Visitor.ID" class="btn mybtn bgRed">CANCEL</a>
            </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}